// Typography
$font-family: 'IBM Plex Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #080808;
$secondary: #BF4F44;
$red: #f44336;
$blue: #7A898E;
$orange: #BF8665;
$purple: #725966;
$white: #fff;
$grey-ghost: #FDFCFC;
$grey-ghost-2: #F5F4F2;
$grey-ghost-3: #808080;
$color-background: #F3F3F3;
$color-input-back: #f6f6f6;
$color-input-text: #acacac;

$theme-colors: (
  'primary': #080808,
  'secondary': #BF8665,
  'danger': #BF4F44,
  'success': #28a745,
  'black': #080808,
  'gray': #525355,
  'dark-gray': #303030,
  'light-gray': #A1B1A8,
  'orange': #7a7a7a,
  'green': #28962b,
  'blue': #0072bc,
  'disabled': #c8e3d9,
);